/*
 Theme Name:   GeneratePress Child
 Theme URI:    https://example.com/
 Description:  Child theme for GeneratePress
 Author:       Your Name
 Author URI:   https://example.com/
 Template:     generatepress
 Version:      1.0.0
 Text Domain:  generatepress-child
*/

/* Put your custom CSS below this line */